@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-hover-button: var(--hover-button);

  --color-hero: var(--hero);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: #1c75bc;
  --secondary: #0d1e43;
  --tertiary: #f6ae2d;

  --hover-button: #db9209;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi.ttf") format("ttf");
  src: url("/fonts/Satoshi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.woff2") format("woff2"), url("/fonts/Montserrat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi", sans-serif;
}
